* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --almond: #eadfd6;
  --umber: #876245;
  --white: #fbfaf8;
  --raisinblack: #201e1f;
  --night: #0c0c0c;
  --black: #262626;
  --jet: #3f3c3b;
}
/* 
    NAVIGATION 
*/
.section1 {
  background-color: var(--almond);
  z-index: -2;
  width: 100%;
  height: 100vh;
}

.s1-content {
  margin: 0 auto 0 auto;
  color: var(--umber);
  position: relative;
  width: calc(100vw - (100vw - 100%));
  max-width: 1440px;
  height: 100vh;
}
.s1-content > img {
  position: absolute;
  max-height: 100vh;
  top: 0;
  right: 0;
}

.s1-content nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px 0 80px;
}
.s1-content nav p {
  font-size: 40px;
  font-weight: 200;
}
.s1-content .nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.s1-content .nav-list li {
  padding: 5px 10px;
  font-size: 25px;
  font-weight: 400;
  color: var(--almond);
}

/* 
    HEADER
*/

.s1-content > h1 {
  position: relative;
  margin-top: 250px;
  font-size: 60px;
  font-weight: 700;
  margin-left: 80px;
  line-height: 70px;
  -webkit-text-stroke: 2px var(--almond);
}

.s1-content .text {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
}

.s1-content .text p {
  font-size: 25px;
  font-weight: 500;
}

.s1-content .text .phone-number {
  background-color: var(--umber);
  color: var(--almond);
  width: 210px;
  margin-top: 30px;
  text-align: center;
  padding: 2px;
  border-radius: 30px;
  position: relative;
}
.s1-content .text .phone-number p {
  font-weight: 200;
}

.s1-content .text .phone-number::after {
  position: absolute;
  content: "";
  width: 206px;
  height: 38px;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  box-shadow: inset 2px 0px 20px var(--umber);
  animation: anime 1.5s ease-in-out infinite;
}

@keyframes anime {
  0% {
    width: 206px;
    height: 38px;
    top: 0px;
    left: 0px;
  }
  90% {
    width: 230px;
    height: 62px;
    top: -10px;
    left: -10px;
  }
  100% {
    opacity: 0;
  }
}

/* 
  SECTION 2
*/

.section2 {
  margin: 0 auto 0 auto;
  width: calc(100vw - (100vw - 100%));
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--umber);
}

.section2 h1 {
  margin-top: 50px;
  font-size: 55px;
}

.section2 img {
  width: 600px;
  margin-top: 25px;
}

.section2 .steps {
  margin-top: 25px;
  max-width: 95%;
  display: flex;
  justify-content: space-around;
}

.section2 .steps > div {
  max-width: 23%;
  text-align: center;
}

.section2 .steps > div span {
  font-size: 60px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 2px var(--umber);
}

.section2 .steps > div p {
  font-size: 25px;
  font-weight: 500;
}

/* 
  SECTION 3
*/

.section3 {
  background-color: var(--almond);
  width: calc(100vw - (100vw - 100%));
}

.s3-content {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.s3-content h1 {
  margin-left: 15%;
  font-size: 65px;
  color: var(--umber);
  -webkit-text-stroke: 2px var(--almond);
  position: relative;
  z-index: 2;
}

.s3-content h1::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 300px;
  height: 1480.53px;
  top: -30px;
  left: 100px;
  background-color: var(--umber);
}

.s3-content .photos {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  z-index: 2;
}

.s3-content .photos img {
  width: 600px;
  border: 5px solid var(--almond);
  border-radius: 5px;
}

.s3-content .photos img:nth-child(2),
.s3-content .photos img:nth-child(4) {
  margin-left: 25%;
  margin-top: -100px;
}

.s3-content .photos img:nth-child(3) {
  margin-top: -100px;
}

.s3-content .quote {
  position: relative;
  width: 480px;
  border: 5px solid var(--umber);
  border-radius: 5px;
  color: var(--umber);
  background-color: var(--almond);
  z-index: 2;
  padding: 30px;
  margin-left: 15%;
  margin-top: -50px;
  margin-bottom: 50px;
}

.s3-content .quote h3 {
  margin-bottom: 10px;
}

.s3-content .quote p:last-child {
  color: var(--almond);
  background-color: var(--umber);
  width: 260px;
  text-align: center;
  padding: 3px;
  font-size: 20px;
  margin-top: 10px;
}
